/*Common Styles*/
* {
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0;
    min-width: 320px;
}

.cube,
.player,
.score {
    position: absolute;
}

.cube,
.player {
    border-radius: 4px;
}

/*Main Styles*/
.main-content {
    max-height: 100vh;
    max-width: 100vw;
    background: black;
    position: relative;
}

/*Score Styles*/
.score {
    color: #ffffff;
    font-size: 5vw;
    top: 5%;
}

.human-score {
    left: 25%;
}

.computer-score {
    right: 25%;
}

/*Elements Styles*/
.elements-section {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.cube,
.player {
    background: #ffffff;
    width: 1vw;
}

.cube {
    height: 1vw;
}

.player {
    height: 10vh;
    transition: top 0.25s ease-out;
}
